.ng-invalid.ng-touched{
  border-color: red;
}
.login-form{
  padding: 20px;
}
.hint{
  color: red;
}
.signup{
  padding-left: 20px;
  padding-bottom: 5px;
}
.alert-danger{
  text-align: center;
}

.login,
.image {
    min-height: 100vh
}

.bg-image {
    background-image: url('../../../assets/pics/login_side.jpg');
    background-size: cover;
    background-position: center center
}
.title{
  font-size:xx-large;
}
.row{
  text-align: center;
}
