

<div class="newer px-3">
    <div class="container">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
    </div>
    <div  *ngFor="let pet of pets" id="testimonials">
        <div class="bg-white testimonial p-3 d-flex justify-newer-between align-items-start alert alert-dismissible fade show rounded-0" role="alert">
            <div class=" d-flex flex-column justify-newer-center align-newer-around">
              <img src="{{ pet.image }}" alt="">
              <div>
                <button mat-raised-button   class="mr-2 mt-2" color="primary" >Request</button>
              </div>
              
            </div>
            <div class="mx-3" >
              <strong class="name">{{ pet.name }}</strong>
              <p class="text-p mt-3 m-0 p-0" *ngIf="pet.sex"><small style="color: gray;">Gender: </small> {{ pet.sex }}</p>
              <p class="text-p m-0 p-0" *ngIf="pet.birthday"><small style="color: gray;">Birthday: </small> {{ moment(pet.birthday).format("DD/MM/YYYY") }}</p>
              <p class="text-p m-0 p-0" *ngIf="pet.type"><small style="color: gray;">Type: </small> {{ pet.type }}</p>
            </div>
        </div>
    </div>
  </div>