<main class="main">
    <div class="row">
      <div class="card main-card">
          <h1 class="card_title main-card-title">About The Company</h1>
          <div class="card_body main-card-body">
            <p>Petsi is a pet management platform. It allows you to continuously monitor your animals and provides you with effective and revolutionary tools to better manage your animals' needs.
              Thus, this platform makes it possible to create a network that brings together owners and veterinarians in order to facilitate exchanges and knowledge sharing. For veterinarians, Petsi provides digital patient management and instant communication with colleagues.
             In addition, Petsi offers a dedicated space for any animal exchange action with their data: sale, adoption.</p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card_img"><img src="../../assets/pics/marouene.png" width="100%"></div>
            <div class="card_title">Marouene Mahou</div>
            <div class="card_body">
                <p>Marijna angular 5ayeb w y7eb ye5dem kan vuejs.</p>
            </div>
        </div>
        <div class="card">
            <div class="card_img"><img src="../../assets/pics/wala.png" width="100%"></div>
            <div class="card_title">Wala Bahri</div>
            <div class="card_body">
                <p>Mayfadlakich oumour design.</p>
            </div>
        </div>
        <div class="card">
            <div class="card_img"><img src="../../assets/pics/souhail.png" width="100%"></div>
            <div class="card_title">Souhail Benslama</div>
            <div class="card_body">
                <p>Yefhem fil git w dima ra9id.</p>
            </div>
        </div>
    </div>
</main>
<div style="color: white;">hello</div>
