<mat-card class="pet-card">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-title-group>
      <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      <mat-card-subtitle>
        <mat-list role="list">
            <mat-list-item role="listitem">Gender : Male</mat-list-item>
            <mat-list-item role="listitem">Birthday : 16 Juin 2021</mat-list-item>
            <mat-list-item role="listitem">Type : Dog</mat-list-item>
        </mat-list>
      </mat-card-subtitle>
    </mat-card-title-group>
</mat-card>

  <mat-accordion class="pet-accordion" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>vaccines</mat-icon>
          Vaccines
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-pet-profile-vaccine></app-pet-profile-vaccine>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon>pets</mat-icon>
            Foods
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-pet-profile-vaccine></app-pet-profile-vaccine>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon>shower</mat-icon>
            Bath
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-pet-profile-vaccine></app-pet-profile-vaccine>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon>today</mat-icon>
            Schedules
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-pet-profile-vaccine></app-pet-profile-vaccine>
      </mat-expansion-panel>
  </mat-accordion>
