#rapport{
  margin: 30px 8px;
  font-size: 16px;
}

#edit{
  margin-top: 10px;
  color: #167cdb;
  border: 1px solid #167cdb;
  font-size: 0.9rem;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
}

.rapport-wrapper{
  white-space: pre-line;
}

#edit:hover {
  color: #fff;
  background-color: #167cdb;
}

.form-group .form-input {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border: 1px solid #edeff2;
  border-radius: 3px;
}

.form-group textarea.form-input {
  height: 150px;
}

.form-group textarea.form-input:focus {
  border: 3px solid blue;
}

.hide{
  display: none;
}

.btn{
  margin: 5px;
}
