<img src="../../../assets/pics/login_bg2.jpg" class="bg">
<mat-grid-list cols="1" rows="1" rowHeight="100vh">
  <mat-grid-tile class="main-div">
    <mat-card class="mat-elevation-z10">
      <mat-toolbar color="primary">Reset Password</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" #resetForm="ngForm" class="login-form">
        <mat-form-field>
          <input matInput type="password" name="password" ngModel required id="password" minlength="4" #pwdInput="ngModel" placeholder="Password" (blur)="[getPassword(pwdInput.value),match(pwdConfInput.value)]">
          <mat-hint class="hint" *ngIf="pwdInput.invalid && pwdInput.dirty">Password must contain at least 4 characters!</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" name="password_confirm" ngModel required id="password_confirm" minlength="4" #pwdConfInput="ngModel" placeholder="Confirm Password" (input)="match(pwdConfInput.value)">
          <mat-hint class="hint" *ngIf="error">{{error}}</mat-hint>
        </mat-form-field>
        <!-- <div *ngIf="error" class="alert alert-danger">
          {{ error }}
        </div> -->
        <br>
        <button mat-raised-button color="primary" type="submit" (click)="reset(resetForm.value)">Reset<i class="fas fa-sign-in-alt"></i></button>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

