<img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

<h4 class="name">John Smith</h4>
<p class="designation">Pet Owner</p>

<mat-divider></mat-divider>
<button mat-button class="menu-button">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
</button>
<button mat-button class="menu-button">
    <mat-icon>pets</mat-icon>
    <span>My pets</span>
</button>

<button mat-button class="menu-button">
    <mat-icon>vaccines</mat-icon>
    <span>Veterinary</span>
</button>

<button mat-button class="menu-button">
    <mat-icon>storefront</mat-icon>
    <span>Market</span>
</button>

<mat-divider></mat-divider>

<button mat-button class="menu-button">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
</button>