<div class="newer bg-white px-3">
  <div  *ngFor="let patient of patients" id="testimonials">
      <div class="testimonial p-3 d-flex justify-newer-between align-items-start alert alert-dismissible fade show rounded-0" role="alert">
          <div class=" d-flex flex-column justify-newer-center align-newer-around">
            <img src="{{ patient.pet.image }}" alt="">
          </div>
          <div class="mx-3" >
            <strong class="name mb-2">{{ patient.pet.name }}</strong>
            <p class="text-p"><small style="color: gray;">owner: </small> {{ patient.pet.owner.firstName }} {{ patient.pet.owner.firstName }}</p>
            <div class="btn mt-3" id="accept" (click)="accept(patient._id)">Accept</div>
            <div class="btn mt-3" id="decline" (click)="decline(patient._id)">Decline</div>
          </div>
      </div>
  </div>
</div>
