<button mat-raised-button  class="mb-2" color="primary" (click)="addPet()">Add Pet</button>

<mat-divider></mat-divider>

<div class="newer px-3">
    <div  *ngFor="let patient of patients" id="testimonials">
        <div class="bg-white testimonial p-3 d-flex justify-newer-between align-items-start alert alert-dismissible fade show rounded-0" role="alert">
            <div class=" d-flex flex-column justify-newer-center align-newer-around">
              <img src="{{ patient.image }}" alt="">
              <div>
                <button mat-raised-button [routerLink]="[patient._id + '/pet']"  class="mr-2 mt-2" color="primary" >Consult</button>
                <button mat-raised-button class="mt-2" color="warn">Delete</button>
              </div>
              
            </div>
            <div class="mx-3" >
              <strong class="name">{{ patient.name }}</strong>
              <p class="text-p mt-3 m-0 p-0" *ngIf="patient.sex"><small style="color: gray;">Gender: </small> {{ patient.sex }}</p>
              <p class="text-p m-0 p-0" *ngIf="patient.birthday"><small style="color: gray;">Birthday: </small> {{ moment(patient.birthday).format("DD/MM/YYYY") }}</p>
              <p class="text-p m-0 p-0" *ngIf="patient.type"><small style="color: gray;">Type: </small> {{ patient.type }}</p>
            </div>
        </div>
    </div>
  </div>