<mat-card class="pet-card">
    <mat-card-title class="pet-card-title">{{ pet.name}}</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-title-group>
      <img mat-card-lg-image src="{{ pet.image }}" >
      <mat-card-subtitle>
        <mat-list role="list">
            <mat-list-item role="listitem">Gender : {{ pet.sex}}</mat-list-item>
            <mat-list-item role="listitem">Birthday :  {{ pet.birthday}}</mat-list-item>
            <mat-list-item role="listitem">Type : {{ pet.type}}</mat-list-item>
            <mat-list-item role="listitem">Breed : {{ pet.breed}}</mat-list-item>
        </mat-list>
      </mat-card-subtitle>
    </mat-card-title-group>
</mat-card>

  <mat-accordion class="pet-accordion" multi>
    <mat-expansion-panel class="pet-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>vaccines</mat-icon>
          Vaccines
          
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button  class="consult-button" [routerLink]="['vaccines']" mat-raised-button color="primary">Consult</button>
      <app-pet-profile-vaccine></app-pet-profile-vaccine>
    </mat-expansion-panel>
    <mat-expansion-panel class="pet-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon>pets</mat-icon>
            Foods
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button  class="consult-button" [routerLink]="['foods']" mat-raised-button color="primary">Consult</button>
        <app-pet-profile-food></app-pet-profile-food>
    </mat-expansion-panel>
    <mat-expansion-panel class="pet-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon>shower</mat-icon>
            Bath
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button  class="consult-button" [routerLink]="['baths']" mat-raised-button color="primary">Consult</button>
        <app-pet-profile-bath></app-pet-profile-bath>
    </mat-expansion-panel>
    <mat-expansion-panel class="pet-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>scale</mat-icon>
          Weight
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-pet-profile-bath></app-pet-profile-bath>
  </mat-expansion-panel>
    <mat-expansion-panel class="pet-accordion">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon>today</mat-icon>
            Appointments
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button  class="consult-button" [routerLink]="['appointments']" mat-raised-button color="primary">Consult</button>
        <app-pet-profile-appointment></app-pet-profile-appointment>
      </mat-expansion-panel>
  </mat-accordion>
